{% extends 'default_base.html.twig' %}

{% block title %}Welcome home{% endblock %}


{% block body %}
    <div class="my-3 row">

        <div class="col-xxl-3 border-3">

        </div>

        <div class="col-xxl-6 border-3 d-flex flex-column">

            {{include('partials/_new_post.html.twig')}}
            {{include('partials/_publication.html.twig')}}

        </div>

        <div class="col-xxl-3  border-3">

        </div>
    </div>


{% endblock %}
