




<div class="" id="chat2">
  <div class="card-header d-flex justify-content-between align-items-center p-3" >
    <h5 class="mb-0">Chat</h5>
  </div>

  <div class="card-body overflow-auto " id="chat-scroll-el"  style="position: relative; height: 500px">  

    
      {# <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;"> #}
      <div class="d-flex flex-row justify-content-start">
        <div id="messages" {{ turbo_stream_listen('chat') }}>
          {#
          The messages will be displayed here.
          "turbo_stream_listen()" automatically registers a Stimulus controller that subscribes to the "chat" topic as managed by the transport.
          All connected users will receive the new messages!
          #}
        </div>
      </div>
    
    {# <div class="divider d-flex align-items-center mb-4">
      <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
    </div> #}

  </div>





  <turbo-frame id="message_form">

    {{ form(form) }}

      {#
                        The form is displayed in a Turbo Frame, with this trick a new empty form is displayed after every post,
                        but the rest of the page will not change.
                    #}
  </turbo-frame>

  
</div>

<script>
	var objDiv = document.getElementById("chat-scroll-el");
  objDiv.scrollTop = objDiv.scrollHeight;
</script>





