
{% for item in feed.comments %}
    <div class="card mx-xxl-5">
        <div class="card-header bg-transparent d-flex justify-content-start align-items-center">
            <img class="rounded-circle shadow-1-strong me-3" src="{{asset('images/pas_de_photo.png')}}" alt="avatar" width="40" height="40"/>
            <span>{{item.commenter}}</span>
        </div>
        <div class="card-body">
                <span class="small ">
                    {{item.comment}}
                </span>
        </div>
    </div>
{% endfor %}

