<div class="modal fade" id="exampleModala" tabindex="-1" aria-labelledby="exampleModalLabela" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Modifier l'image</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data" action="{{path('event_image_modification',{name:event.name})}}" role="form">
                <div class="modal-body">
                    <label for="formFile" class="form-label">télécharger l'image</label>
                    <input type="file" class="form-control" name="image" id="formFile">
                    <div id="img-file">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-mdb-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">enregister</button>
                </div>
            </form>
        </div>
    </div>
</div>