 <!-- navbar of profile page -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              <li class="breadcrumb-item"><a href="{{path('app_index')}}">Acceuil</a></li>
              <li class="breadcrumb-item"><a href="#">A Propos</a></li>
              <li class="breadcrumb-item"><a href="#">Photos</a></li>
              <li class="breadcrumb-item"><a href="#">Evénements</a></li>
              
            </ol>
          </nav>
           <!-- End navbar of profile page -->