<turbo-stream action="append" target="comment-{{id}}">
	<template>
        <div class="card mx-xxl-5">
            <div class="card-header bg-transparent d-flex justify-content-start align-items-center">
                <span>{{commenter}}</span>
            </div>
            <div class="card-body">
                <span class="small ">
                    {{comment}}
                </span>
            </div>
        </div>    
	</template>
</turbo-stream>
