{% extends 'default_base.html.twig' %}

{# Page de l'événement #}

{% block title %}
  Page de l'événement {{ event.name }}
{% endblock %}

{% block body %}

<div class="row my-3">
	<div class="col-xxl-3">

	   {{ include('partials/_sidebar.html.twig',{
					"general" : "link-white active",
					"news" : "link-dark",
					"chat" : "link-dark"
				})}}

	</div>

	<div class="col-xxl-6 ">
		{{include('partials/_event_show.html.twig')}}
	</div>

  <div class="col-xxl-3 ">
  
      {{include('partials/_partie_sub.html.twig')}}
  </div>
</div>

{% endblock %}
