{% extends 'default_base.html.twig' %}

{# Page de l'événement #}

{% block title %}
  Page de l'événement {{ event.name }}
{% endblock %}

{% block body %}
  {# On affiche la barre de navigation #}
  {{ include('partials/_navbar.html.twig') }}

  {# On affiche juste la side bar et la liste des participants #}

  <div class="row">
    <div class="col">
      {{ include('partials/_sidebar.html.twig') }}

    </div>
    <div class="col-7">
      <h1>Infos générales</h1>
    </div>
    <div class="col">
      {{ include('partials/_partie_sub.html.twig') }}
    </div>
    
  </div>
{% endblock %}
