{# chat/message.stream.html.twig #}

{# New messages received through the Mercure connection are appended to the div with the "messages" ID. #}
<turbo-stream action="append" target="messages">
     <template>
        {# <div class="card-body overflow-auto " id="chat-scroll-el"  style="position: relative; height: 500px">  
            <div class="d-flex flex-row justify-content-start">
                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{message}}</p>
            </div>
        </div> #}
        
        {# <div class="d-flex flex-row justify-content-start"> #}
            <div class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{ message }}</div>
        {# </div> #}
        
	</template>
</turbo-stream>
{# <p class="small ms-3 mb-3 rounded-3 text-muted">{{ message.createdAt|date("m/d/Y  H:i:s") }}</p> #}
{# <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{message.content}}</p> #}


