{% extends 'default_base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Mes contacts</h1>
<ul>


    {% for contact in contacts %}
        <li>{{contact.contactUsername}}</li>      
    {% endfor %}
</ul>
{% endblock %}
