{% extends 'default_base.html.twig' %}

{% block title %} Page de recherche {% endblock %}

{% block body %}
    {# {{include('partials/_navbar.html.twig')}} #}
    <h1>Resulats de la recherche</h1>
    {% if events|length or users|length  %}
        <h3>{{events|length + users|length}} résultats trouvés</h3>
    {% else %}
        <h3>Pas de résultats trouvés</h3>
    {% endif %}

    <ul>

    {% for event in events %}
        <li>{{event.name}}</li>
    {% endfor %}
    {% for user in users %}
        <li>{{user.username}}</li>
    {% endfor %}
    </ul>


{% endblock  %}