<turbo-stream action="append" target="info-{{id}}">
    <template>
        <div class="my-3">
            <div class="card">
                <div class="card-header">
                    <h4>{{ info.title }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ info.content }}</p>

                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">éditer</button>
                    <button type="button" class="btn btn-danger">supprimer</button>
                </div>
            </div>
        </div>
    </template>
</turbo-stream>
